HTTP_RequestRapidAPI.json
{
  "name": "HTTP-RequestRapidAPI",
  "nodes": [
    {
      "parameters": {
        "formTitle": "LinkedIn Profile",
        "formDescription": "LinkedIn USR ID",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "placeholder": "LinkedIn USR ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -440,
        -100
      ],
      "id": "4f09277d-d736-44db-a7b7-278e158fdc17",
      "name": "On form submission",
      "webhookId": "c18adcaa-6602-4da2-846b-b5776f288985"
    },
    {
      "parameters": {
        "url": "https://linkedin-data-api.p.rapidapi.com",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Rapidapi-Key",
              "value": "0d56ff2c4fmsh00110b2e41503fbp1ff328jsndd29d9a02aea"
            },
            {
              "name": "X-Rapidapi-Host",
              "value": "linkedin-data-api.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        -100
      ],
      "id": "74cf5e76-331b-4f12-830d-0d98a91bc8ea",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "options": {
          "systemMessage": "You are a helpful assistant in summarizing the LinkedIn Profile data in 10 lines max."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -40,
        -100
      ],
      "id": "177d8119-ba8d-4dea-883d-a394f3933f4d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -60,
        80
      ],
      "id": "f81364b9-6e59-4976-97e9-89bd45a3463a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Dl6JBIeW22jd5S4q",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2e26f807-5a0d-4e9b-9e10-990e214257a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e58782b5204367a8457b49d5762da20b8be8c9bb248dfb7d3a3d6bf9816541fc"
  },
  "id": "bKwYNcg5ZO6chT8N",
  "tags": []
}